@import '@/constants/consts';

.wrapper {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  .content {
    padding: 48px;
    .title {
      line-height: 29.26px;
      margin-bottom: 20px;
    }
    .cards {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    .zeroMessage {
      display: flex;
      justify-content: center;
      font-size: 18px;
      font-weight: 500;
    }
    .btnWrapper {
      display: flex;
      justify-content: center;
      .scaleBtn {
        background-color: $base-light-yellow;
        color: black;
        margin: 0 auto;
      }
    }
    .disable {
      scale: 0;
      margin: 0;
    }
  }
}