@font-face {
  font-family: 'Montserrat';
  src: url('../../../fonts/Montserrat-SemiBold.otf');
  font-weight: 500;
  font-style: normal;
}

.button {
  font-weight: 500;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}