@import "../../../consts";
.header {
  display: flex;
  margin-top: 60px;
  align-items: center;
  .logo {
    margin: 0 auto;
  }
  .buttons {
    display: flex;
    position: absolute;
    gap: 20px;
    right: 8.3%;
    width: max-content;
  }
}