.req {
  width: calc(50% - 10px);
  .reqTitle {
    margin-bottom: 24px;
  }
  .inputName {
    margin-bottom: 8px;
  }
  .count {
    margin-bottom: 24px;
    display: flex;
    gap: 20px;
    .item {
      width: 50%;
    }
  }
  .lineUp {

  }
}