.wrapper {
  border-radius: 16px;
  border: 1px solid #B4B4B4;
  width: 296px;
  //margin: 0 auto;
  .content {
    padding: 16px;
    .avatar {
      margin: 0 auto 24px auto;
      width: 160px;
      height: 160px;
      border-radius: 50%;
    }
    .name {
      font-size: 20px;
      line-height: 24px;
      display: flex;
      justify-content: center;
    }
    .firstName {
      margin-bottom: 24px;
    }
    .tags {
      max-width: 264px;
      justify-content: center;
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      .tag {
        padding: 7px 14px;
        font-size: 12px;
      }
    }
  }
}