@import '@/constants/consts';

.layout {
  width: 71.46vw;
  margin: 110px auto 60px auto;
  .breadcrumbs {
    margin-bottom: 20px;
    color: #6E6E6E;
    font-weight: 500;
    .currentPage {
      color: $base-dark-blue;
    }
  }
  .wrapper {
    background-color: white;
    border-radius: 20px;
    padding: 48px;
    .content {
      width: 49.21%;
      .title {
        font-size: 32px;
        margin-bottom: 20px;
      }
      .req {
        margin-bottom: 20px;
      }
      .people {
        margin-bottom: 32px;
      }
      .team {
        margin-bottom: 32px;
        .teamName {
          margin-bottom: 10px;
        }
      }
      .buttonReg {
        background-color: $base-light-yellow;
        color: black;
      }
    }
  }
}

