.plates {
  width: 676px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.inputs {
  width: 328px;
  margin: 0 auto;
}

.header {
  width: 328px;
  margin: 0 auto;
  text-align: left;
  font-size: 24px;
  font-weight: 500;
}

.wideHeader {
  width: fit-content;
}

.descriptions {
  width: 328px;
  margin: 0 auto;
}

.wrapper {
  display: inline-block;
}

.multiselect {
  width: 328px;
  margin: 0 auto;
}

.input {
  border-radius: 12px;
}