@import '@/constants/consts';

.error {
  width: 71.46vw;
  margin: 100px auto;
  background-color: white;
  padding: 48px;
  border-radius: 20px;
  text-align: center;

}

.wrapper {
  width: 71.46vw;
  margin: 100px auto;
  .breadcrumbs {
    margin-bottom: 20px;
    color: #6E6E6E;
    font-weight: 500;
    .currentPage {
      color: $base-dark-blue;
    }
  }
  .content {
    display: flex;
    gap: 20px;
    .subInfo {
      width: 24.62%
    }
  }
}
