@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RockStar';
  src: url('./fonts/RS-regular.otf');
  font-weight: 400;
  font-style: normal;
}

@import "consts";

body {
  font-family: 'RockStar', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: $base-text;

  width: 1372px;

  margin: 0 auto;
}