.info {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
  .inputName {
    margin-bottom: 8px;
  }
  .dateInput {
    position: relative;
    padding: 16px 18px;
    &::-webkit-calendar-picker-indicator {
      background: url("../../../assets/calendar.svg") no-repeat center;
      width: 23.5px;
      height: 23.5px;
      cursor: pointer;
    }

  }
  .mainInfo {
    width: 50%;
    .eventName {
      margin-bottom: 20px;
    }
    .link {
      margin-bottom: 20px;
    }
    .tags {
      margin-bottom: 20px;
    }
    .dates {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
      .item {
        width: 50%;
      }
    }
    .prize {
      width: calc(50% - 10px);
    }
  }
  .location {
    width: 50%;
    .locationInput {
      margin-bottom: 24px;
    }
  }
}