@import "@/constants/consts";

.header {
  display: flex;
  margin-top: 60px;
  align-items: center;
  .logo {
    margin: 0 auto;
  }
  .buttons {
    display: flex;
    position: absolute;
    gap: 20px;
    right: 8.3%;
    width: max-content;
    .loginBtn {
      border: 1px solid white;
      color: white;
    }
    .registerBtn {
      background-color: white;
      color: black;
    }
    .loginBtnWhite {
      border: 1px solid $base-dark-blue;
      color: $base-dark-blue;
    }
    .registerBtnWhite {
      background-color: $base-dark-blue;
      color: white;
    }
  }
  .logged {
    display: flex;
    position: absolute;
    gap: 32px;
    right: 14.27%;
    width: max-content;
    .avatarGroup {
      //
      .avatar {
        border-radius: 50%;
        width: 48px;
        height: 48px;
      }
      .arrow {
        position: absolute;
        top: 20px;
        right: -24px;
        transition: 0.5s;
        cursor: pointer;
        vertical-align: center;
      }
      .arrowActive {
        transform: scaleY(-1);
      }
    }
    .createEventBtn {
      background-color: $base-light-yellow;
      padding: 16px 32px;
    }
  }
}