@import "@/constants/consts";

.wrapper {
  max-width: 100%;
  padding-left: 68px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 36px;
}

.avatar {
  border-radius: 50%;
  z-index: 100;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 112px;
}

//.inviteBtn {
//  background-color: $base-light-yellow;
//  height: 52px;
//  width: 255px;
//  color: $base-black-text;
//  font-weight: 500;
//  font-size: 16px;
//  line-height: 19.5px;
//}

.editBtn {
  background-color: transparent;
  border: 1px solid $base-dark-blue;
  color: $base-dark-blue;
  height: 52px;
  width: 220px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}

.name {
  font-weight: 400;
  font-size: 32px;
  line-height: 39.01px;
}

.username {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: $base-dark-gray;
}