.plates {
  width: 676px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.inputs {
  width: 328px;
  margin: 0 auto;
}

.header {
  min-width: 328px;
  margin: 0 auto;
  text-align: left;
}

.descriptions {
  width: 328px;
  margin: 0 auto;
}

.wrapper {
  display: inline-block;
}