@font-face {
  font-family: 'Montserrat';
  src: url('../../../fonts/Montserrat-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  margin: 295px auto 367px auto;
  text-align: center;
  p {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 0 auto 24px auto;
    font-size: 48px;
    width: 790px;
    color: white;
    line-height: 64.13px;
  }
}