@import "../../../consts";

@font-face {
  font-family: 'Montserrat';
  src: url('../../../fonts/Montserrat-SemiBold.otf');
  font-weight: 500;
  font-style: normal;
}

.wrapper {
  background-color: white;
  border-radius: 80px 80px 0 0;
  .content {
    padding-top: 182px;
    width: 1372px;
    margin: 0 auto;
    .headerWrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      align-items: end;
      .title {
        font-size: 32px;
      }
      .header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 32px;
      }
      .filters {
        display: flex;
        gap: 20px;
      }
    }
    .activeFilters {
      margin-bottom: 20px;
      p {
        background-color: rgba(59, 98, 196, 1);
        width: max-content;
        padding: 7px 14px;
        border-radius: 8px;
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        font-weight: 400;
      }
    }
    .input {
      margin-bottom: 20px;
    }
    .eventsContainer {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }
  }

}
